.container {
    background: wheat;
    max-width: 80%;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
   
}


body {
    background-image: url("library.jpg");
    background-size: cover;
    color: #5A3E36;
    font-family: serif, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    
}

h1, h2 {
    margin-bottom: 20px;
}

button {

    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #5A3E36;
    border: 3px solid #6B8E6B;
}

#save-btn {
    background: #6B8E6B;
    border: 3px solid #5A3E36;
}

#save-el {
    font-weight: bold;
    font-size: 20px;
}